/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2020, 10:11:11 PM
    Author     : ppitbull
*/

.pane-cell
{
    -fx-background-color:rgba(255,255,255,0.7);
}

.pane-cell .circle
{
    -fx-border-width:0px;
   
}

.rep_shape
{
    -fx-background-color:rgba(191,64,64,0.6);
}
.all_rep_shape
{
    -fx-padding:10px;
}
/*.rep_shape:hover
{    
    -fx-background-color:rgba(191,64,64,0.6);
}*/
